/* style for the pokemon card */
.pokemonCardDiv {
  border: 2px solid black;
  border-radius: 4px;
  margin: 14px 2px;
  padding: 10px;
  text-align: center;
  position: relative;
  width: 18%;
}

/* make sure to use a flexbox for the pokemon cards */
#pokemonListDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* style the elements within the pokemon card */
.pokemonCardDiv img {
  margin-top: 12px;
	width: 100px;
	border: 1px dashed black;
}

.pokemonCardDiv h2 {
	text-transform: capitalize;
}

.pokemonCardDiv p {
	position: absolute;
	top: 5px;
	right: 5px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
